# Maven / Java
/target/
# Maven / Java
# ignore any `target` directory anywhere in the tree
target/
.classpath
.project
.settings/
/.idea/
/*.iml
*.log

# IntelliJ
.idea/
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Eclipse
.metadata
.classpath
.project

# Spring Boot Devtools
spring-boot-devtools.properties

# Ignore practice folders in any lesson
*/practice/
